body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
    background-image: url(../image/bg_home.svg),url(../image/ball01.svg);
    background-position: right top, -15% 20%;
    background-repeat: no-repeat, no-repeat;
    color: #221E1F;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    display: block;
    text-align: center;
}
sub{
    vertical-align: sub;
}
.header{
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    margin: 0 auto;
    padding: 24px 16px;
    margin-bottom: 30px;
}
h1{
    width: 218px;
}
.wrap{
    background-image: url(../image/ball02.svg),url(../image/ball03.svg);
    background-position: 105% 50%, 10% 75%;
    background-repeat: no-repeat,no-repeat ;
}
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0px 16px;
}
.header>a.btn-price{
    background: #FF5D50 0% 0% no-repeat padding-box;
    border-radius: 22px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 32px;
}
.header>a.btn-price:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #FF5D50;
    border: #FF5D50 solid 1px;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
.banner-txt{
    width: 50%;
}
.banner-txt h2{
    font-size: 18px;
    font-weight: bold;
    color: #56C4C5;
}
.banner-txt .title{
    font-size: 48px;
    font-weight: bold;
}
.banner-txt p{
    font-size: 20px;
}
.banner img{
    width: 532px;
    height: auto;
}
.platform,.customization,.features{
    margin-bottom: 100px;
}
.platform h4{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 48px;
    text-align: center;
}
.plat-type{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*margin: 0px -59px;*/
}
.plat-item{
    width: 33.33%;
    text-align: center;
    padding: 0px 59px;
}
.plat-item img{
    width: 90px;
}
.plat-item h5{
    font-size: 24px;
    font-weight: bold;
    margin: 24px 0px;
}
.plat-item p{
    font-size: 16px;
    padding: 0px 15px;
}
.customization h4{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}
.customization p{
    font-size: 20px;
    margin-bottom: 48px;
    text-align: center;
}
.cus-type{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px -8px;
}
.cus-item{
    width: 25%;
    text-align: center;
    padding: 0px 8px;
}
.cus-item img{
    border-radius: 12px 12px 0px 0px;
    vertical-align: middle;
}
.cus-item h5{
    font-size: 16px;
    font-weight: bold;
    color: #56C4C5;
    padding-bottom: 16px;
}
.cus-txt p{
    font-size: 16px;
    margin-bottom: 0;
}
.other-txt{
    padding-bottom: 24px;
}
.cus-txt{
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 0px 0px 12px 12px;
    padding: 16px 16px 24px 16px;
    background: #FFF;
}
.features{
    display: flex;
    align-items: center;
}
.feature-type{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.feature-item{
    width: 40%;
    padding: 32px 32px 48px 32px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
}
.rad-img{
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 50%;
    padding: 17px;
    width: 86px;
    height: 86px;
    margin-bottom: 24px;
}
.feature-item h5{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}
.feature-item p{
    font-size: 16px;
}
.transfer{
    margin-right: 47px;
    margin-bottom: 28px;
}
.chat_bot{
    margin-bottom: 28px;
}
.integrate{
    margin-right: 47px;
}
.feature-content{
    width: 50%;
}
.feature-content h4{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;
}
.feature-content p{
    font-size: 18px;
    margin-bottom: 24px;
}
.feature-content a.btn-price,.footer-plan a.btn-price{
    background: #56C4C5 0% 0% no-repeat padding-box;
    border: 1px solid #56C4C5;
    border-radius: 27px;
    color: #FFFFFF;
    font-size: 18px;
    padding: 12px 32px;
    display: inline-block;
    text-decoration: none;
}
.feature-content a.btn-price:hover,.footer-plan a.btn-price:hover{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    color: #56C4C5;
    border: #56C4C5 solid 1px;
}
.eval{
    margin-bottom: 130px;
}
.eval h4{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 104px;
    text-align: center;
}
.eval_new{
    display: flex;
    flex-wrap: wrap;
}
.eval_item{
    width: 32%;
    position: relative;
    padding: 48px 32px 24px 32px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    margin-right: 16px;
}
.noon{
    margin-right: -16px;
}
.eval_item>img{
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top:-53px;
    left: 30px;
}
.eval_item p{
    font-size: 15px;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 24px;
    margin-bottom: 24px;
}
.eval_item span{
    font-size: 16px;
}
.company{
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}
.comment_star{
    display: flex;
    justify-content: space-between;
}
.footer{
    background: #F5F5F5;
    text-align: center;
    
}
.footer .content{
    font-size: 16px;
    padding: 16px 0px;
}
.footer-plan{
    background-image: url(../image/home_footer.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 503px;
    padding-top: 300px;
    text-align: center;
    background-position: center;
    background-size: cover;
}
.footer-plan h4{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 48px;
}
.footer-plan a.btn-price{
    margin-bottom: 100px;
}

@media(max-width:991px){
    body{
        background-position: right top,-35% 18%;
        background-size: 70%,35%;           
    }
    .wrap{
        background-position: 125% 42%,-20% 165%;
        background-size: 25% 80%;  
    }
    .container{
        padding: 0px 20px;
    }
    .header{
        padding: 24px 20px;
    }
    .banner-txt h2{
        font-size: 16px;
    }
    .banner-txt .title{
        font-size: 40px;
    }
    .banner-txt p{
        font-size: 18px;
    }
    .banner img{
        max-width: 50%;
        height: auto;
    }
    .plat-item h5{
        font-size: 20px;
    }
    /*.plat-type{
        margin: 0px -40px;
    }*/
    .plat-item{
        padding: 0px 40px;
    }
    .customization h4{
        font-size: 30px;
    }
    .customization p{
        margin-bottom: 40px;
    }
}
@media(max-width:767px){
    body{
        background-image: url(../image/bg_home_sm.svg),url(../image/ball01.svg);
        background-position: 35% 9%, -15% 21%;
        background-size: 95%,20%;
    }
    .wrap{
        background-position: 125% 52%,-10% 79%;
        background-size: 25%,20%;  
    }
    .container{
        padding: 0px 20px;
        margin-bottom: 90px;
    }
    .header{
        padding: 24px 20px;
    }
    .banner{
        flex-direction: column;
        margin-bottom: 95px;
    }
    .banner-txt{
        width: 100%;
        margin-bottom: 32px;
    }
    .banner-txt h2{
        font-size: 16px;
    }
    .banner-txt .title{
        font-size: 40px;
    }
    .banner-txt p{
        font-size: 18px;
    }
    .banner img{
        max-width: 80%;
        height: auto;
    }
    .plat-type{
        margin: 0px -20px;
    }
    .plat-item{
        padding: 0px 20px;
    }
    .plat-item h5{
        font-size: 20px;
    }
    .customization h4{
        font-size: 30px;
    }
    .customization p{
        font-size: 20px;
        margin-bottom: 40px;
    }
    .cus-item{
        width: 50%;
        margin-bottom: 24px;
    }
    .cus-item h5{
        font-size: 16px;
        padding-bottom: 16px;
    }
    .cus-item p{
        margin-bottom: 0;
    }
    .cus-txt{
        padding: 16px 20px 24px 20px;
    }
    .features{
        flex-direction: column-reverse;
    }
    .feature-type{
        width: 100%;
    }
    .feature-item{
        width: 45%;
        padding: 32px 32px 48px 32px;
        border-radius: 12px;
        box-shadow: 0px 2px 10px #00000014;
    }
    .feature-content{
        margin-bottom: 32px;
        width: 100%;
        text-align: center;
    }
    .feature-content h4{
        font-size: 30px;
    }
    .eval h4{
        font-size: 30px;
    }
    .comment_star{
        flex-direction: column;
    }
    .comment_star span{
        margin-bottom: 10px;
    }
    .footer-plan h2{
        font-size: 28px;
    }
}
@media(max-width:575px){
    body{
        background-position: 35% 5.5%, -75% 11%;
        background-size: 95%,50%;
    }
    .wrap{
        background-position: 125% 54%,-10% 78%;
        background-size: 45%,30%;  
    }
    .header{
        margin-bottom: 32px;
        align-items: center;
        padding: 16px 20px;
        border-bottom: 2px solid #FFD153;
    }
    h1{
        width: 130px;
    }
    .banner{
        margin-bottom: 98px;
    }
    .banner-txt h2{
        font-size: 16px;
        margin-bottom: 8px;
    }
    .banner-txt .title{
        font-size: 32px;
        margin-bottom: 16px;
    }
    .banner-txt p{
        font-size: 16px;
    }
    .banner img{
        max-width: 80%;
    }
    .platform{
        margin-bottom: 36px;
    }
    .platform h4{
        font-size: 28px;
        margin-bottom: 32px;
    }
    .plat-type{
        flex-direction: column;
        align-items: center;
    }
    .plat-item{
        width: 70%;
        text-align: center;
        padding: 0px;
        margin-bottom: 24px;
    }
    .plat-item img{
        width: 90px;
    }
    .plat-item h5{
        font-size: 18px;
        margin: 16px 0px;
    }
    .plat-item p{
        padding: 0px 20px;
    }
    .customization{
        margin-bottom: 36px;
    } 
    .customization h4{
        font-size: 28px;
        margin-bottom: 16px;
    }
    .customization p{
        font-size: 18px;
        padding: 0px 8px;
        margin-bottom: 32px;
    }
    .cus-type{
        margin: 0;
    }
    .cus-item{
        width: 80%;
        padding: 0px;
    }
    .cus-item p{
        margin-bottom: 0;
    }
    .cus-txt{
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 0px 0px 12px 12px;
        padding: 16px 16px 24px 16px;
    }
    .transfer,.integrate{
        margin: 0;
    }
    .features{
        margin-bottom: 60px;
    }
    .feature-type{
        width: 70%;
    }
    .feature-item{
        width: 100%;
        margin-bottom: 24px;
    }
    .feature-content{
        margin-bottom: 32px;
        text-align: center;
    }
    .feature-content h4{
        font-size: 28px;
    }
    .feature-content p{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .eval{
        margin-bottom: 10px;
    }
    .eval h4{
        font-size: 28px;
        margin-bottom: 88px;
    }
    .eval_new{
        flex-direction: column;
        align-items: center;
    }
    .eval_item{
        width: 90%;
        margin-right: 0;
        padding: 48px 16px 16px 16px;
        margin-bottom: 90px;
    }
    .comment_star{
        flex-direction: row;
    }
    .eval p{
        padding-bottom: 16px;
        margin-bottom: 16px;
    }
    .comment_star span{
        margin-bottom: 0px;
    }
    .footer-plan{
        background-image: url(../image/footer_sm.svg);
        height: 461px;
        padding-top: 293px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background-position:top;
        background-size: auto;
    }
    .footer-plan h4{
        font-size: 24px;
        padding-bottom: 24px;
    }
}